<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog - It Backend</title>
    </head>

    <body>
        <div>
            <h1>Connected to BlogIt Backend.</h1>
        </div>
    </body>

</html>